- type: job
  id: HeadOfPersonnel
  name: job-name-hop
  description: job-description-hop
  playTimeTracker: JobHeadOfPersonnel
# begin starcup: command roles are whitelisted
#  requirements:
#    - !type:DepartmentTimeRequirement
#      department: Engineering
#      time: 36000 # 10 hours
#    - !type:DepartmentTimeRequirement
#      department: Medical
#      time: 36000 # 10 hours
#    - !type:DepartmentTimeRequirement
#      department: Security
#      time: 36000 # 10 hrs
#    - !type:DepartmentTimeRequirement
#      department: Command
#      time: 36000 # 10 hours
  whitelisted: true # starcup
# end starcup
  weight: 20
  startingGear: HoPGear
  icon: "JobIconHeadOfPersonnel"
  supervisors: job-supervisors-captain
  canBeAntag: false
  access:
  - Command
  - HeadOfPersonnel
  - Bar
  - Service
  - Maintenance
  - Janitor
  - Theatre
  - Kitchen
  - Chapel
  - Hydroponics
  - External
  - Cryogenics
  # I mean they'll give themselves the rest of the access levels *anyways*.
  # As of 15/03/23 they can't do that so here's MOST of the rest of the access levels.
  # Head level access that isn't their own was deliberately left out, get AA from the captain instead.
  - Chemistry
  - Engineering
  - Research
  - Detective
  - Salvage
  - Security
  - Brig
  - Lawyer
  - Cargo
  - Atmospherics
  - Medical
  # begin starcup additions: hops have everything but captain, armory, and other heads
  - Boxer
  - Clown
  - Library
  - Mail
  - Mime
  - Musician
  - Paramedic
  - Psychologist
  - Reporter
  - Robotics
  - Zookeeper
  # end starcup

  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]
  - !type:AddComponentSpecial
    components:
      - type: CommandStaff

- type: startingGear
  id: HoPGear
  equipment:
    #shoes: ClothingShoesLeather # DeltaV - Commented for Loadouts
    id: HoPPDA
    gloves: ClothingHandsGlovesHop
    ears: ClothingHeadsetAltCommandSyndie # starcup: command recolors
    belt: BoxFolderClipboard
  storage:
    back:
    - Flash

- type: chameleonOutfit
  id: HeadOfPersonnelChameleonOutfit
  job: HeadOfPersonnel
  hasMindShield: true
  equipment:
    head: ClothingHeadHatHopcapSyndie # starcup: command recolors
    eyes: ClothingEyesHudCommandSyndie # starcup: command recolors
    mask: ClothingMaskNeckGaiterRed
    neck: ClothingNeckCloakHopSyndie # starcup: command recolors
    outerClothing: ClothingOuterWinterHoPSyndie # starcup: command recolors

